@import '~node_modules/modern-normalize/modern-normalize.css';
body{
    padding: 20px 30px;

}
input{
    height: 35px;
    width: 350px;
}
input:focus, input:hover{
    border-color: darkturquoise;
}
.query-btn{
    margin-left: 5px;
background-color: darkturquoise;
color: #fff;
border-radius: 5px;
border-color: azure;
}
.form-box{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
a{
    text-decoration: none;
    color: black;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}
.load-more{
margin-left: 650px;
margin-right: auto;
width: 100px;
height: 30px;
background-color: darkturquoise;
color: #fff;
border-radius: 5px;
border-color: azure;
}
